body {
    background-color: #a2ada1;
}

nav {
    background-color: #E7E0C9;
}

main {
    background-color: #11324D;
}

.button {
    background-color: #6B7AA1;
    color: aliceblue;
}

strong,
h4,
h2 {
    color: azure;
}

h3 {
    color: rgb(0, 195, 255);
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

span {
    color: rgb(219, 0, 0);
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}